<div class="banner">
  <h1>Welcome to Mister Cocktails</h1>
</div>


<div class="boxes">
  <% @cocktails.each do |c|%>
      <div class="box">
          <img class="img" src="https://source.unsplash.com/collection/1631542">
          <h2><%#= c.name%></h2>
    <%= link_to c.name, cocktail_path(c), class: 'link' %>
      </div>
  <% end%>  
</div>
