https://source.unsplash.com/collection/1631542
<div class="boxes">
  <h1 class="title"> Hello I am a cocktail!</h1>

  <div class="box">
    <img class="img" src="https://source.unsplash.com/collection/1631542">
    <div class="details">
      <h3><%= @cocktail.name%></h3>
      <p><%= @cocktail.ingredients%></p>
      <p><%= @cocktail.doses%></p>
    </div>
  </div>
    
</div>