.banner {
  width: 100wv;
  height: 100vh;
  background-image: url('https://source.unsplash.com/lwoTuByIuC4');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  & h1 {
    color: $white;
    text-align: center;
  }
}