.boxes {
  width: 60vw;
  max-width: 960px;
  background-color: $white;
  margin: 0 auto;
  padding: 2rem;
  &-solo {
    padding-top: 5.5rem;
    height: 100%;
  }

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.box {
  background-color: $neutral;
  border-radius: 3px;
  width: 100%;
  margin: 1rem 0;
  display: flex;
  & .img {
    width: 40%;
    height: auto;
    object-fit: cover;
  }
}

.box-card {
  position: relative;
  height: 35vh;
  width: 25vw;
  margin-bottom: 1rem;
  background-image: url('https://source.unsplash.com/collection/1631542');
  background-size: cover;
  background-position: center;
  &:before {
  content: '';
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-out;
  background: linear-gradient(to bottom, transparent 60%, rgba(0,0,0,0.2) 100%);
  }
  &:hover:before {
    height: 100%;
  }
  & h2 {
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: $white;
  text-decoration: none;
  font-family: $headers-font;
  font-size: 2rem;

    & a:hover,
    a:visited,
    a:active,
    a:focus,
    a {
    text-decoration: none;
    }
  }
}

.details {
  padding: 1.5rem;
  width: 100%;
  & h3 {
    color: $action;
  }
}

.title {
  // margin-top: 2rem;
  margin-bottom: 1rem;
}

.strong {
  font-weight: 600;
  // color: $action;
}

.dose {
  display: flex;
  border-bottom: 1px solid $lightred;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}