.btn {
  color: $white;
  background-color: $action;
  opacity: 0.8;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  padding: 0.75rem 1rem;
  &:hover {
    color: $white;
    text-decoration: underline;
    opacity: 1;

  }
}

.btn-center {
  text-align: center;
}