footer {
  width: 100vw;
  height: 30vh;
  background-color: $neutral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & span {
    font-family: $headers-font;
    color: $action;
  }
  & .fab {
    color: $action;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    transition: font-size 0.3s ease-out;
    &:hover {
      text-decoration: none;
      font-size: 2rem;
      transition: font-size 0.3s ease-out;
    }
  }
}

svg {
  stroke: $lightred;
  stroke-width: 3px;
  margin: 2rem auto;
}

.icons {
  margin-top: 1rem;
}